/*esto se usa para agregar comentarios */
.body{
    background-image: url(./imagenes/GI-Background.jpg)
}
/*NAV*/
.nav{

}


/*HEADER*/ 
.header{
}
.header .nav .barra-nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}
.inicio-sesion{
border-style: solid;    
}

/*MAIN*/
.yoimiya-prin{ display: flex;
    justify-content: left
}
.info-basica {
    text-align: center;
    grid-column: span 2;
    width: 70%;
    margin: 0% auto;
}
.build{
    display: grid;
    gap: 50px;
    grid-template-columns:  1fr 1fr;
    justify-content:space-evenly; 
    align-items: center;
    text-align: center;
}
/*FOOTER*/
.footer{ color: white;
    background-color: black;
    align-content: end;
}
.footer .nav .barra-nav{
    list-style-type: none;
    margin: 0;
    padding: 0;   
}
  
/*TABLE*/

.form{
    border-style: none;
}
/*horarios*/

.listado-de-items {
   list-style: none;
    color: black;
    background-color: grey;
    border-style: dotted;
    /*width: 70%*/;
}
.dias {
    color: #2d0264;
    font-size: 25px;
    font-weight: bold;
}

.horarios {
    font-style: italic;
    color: #2d0264
}
