/*esto se usa para agregar comentarios */
.index-body{
    background-image: url(./imagenes/GI-Background.jpg)
}

/*HEADER*/ 
.header{

}
.inicio-sesion{
border-style: solid;    
}

/*MAIN*/

/*FOOTER*/
.footer{ color: white;
    background-color: black;
    height: 70px;

}


/*TABLE*/
/*contacto*/
.contacto-body{
    background-image: url(./imagenes/GI-Background.jpg) 
}
.form{
    border-style: solid;
}
/*horarios*/
.listado-de-items {
    color: black;
    background-color: transparent;
    width: 20%;
    border-style: dotted;
}

    .horarios-body{ background-image: url(./imagenes/GI-Background.jpg);
    }
.dias {
    color: #2d0264;
    font-size: 25px;
    font-weight: bold;
}

.horarios {
    font-style: italic;
    color: #2d0264
}
